<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAejYeWkZIlD-ihIoTpqWE5saKUQt_x-ak</string>
	<key>GCM_SENDER_ID</key>
	<string>115851284073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gom3.dutying</string>
	<key>PROJECT_ID</key>
	<string>dutying-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>dutying-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115851284073:ios:5ace04cf66167130f01cf8</string>
</dict>
</plist>